name: "Bad Pipeline"
on:  
  push:
    branches:
       - main
jobs:  
  build-and-deploy:    
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout c贸digo        
        uses: actions/checkout@v2
        
      - name: A Produccion
        run: |
          echo "Instalando hackaton cli y dependencias"
          sudo apt update          
          sudo apt install -y hackaton          
          hackaton install  

          echo "Declarar variables"
          export DB_USER_DEV="admin"
          export DB_PASS_DEV="supersecreto"
          export API_KEY_DEV="123456789"

          echo "Aplicando configuraciones necesarias"
          sudo apt-get update -y
          sudo apt-get install -y nginx
          sudo apt-get install -y curl
          sudo systemctl enable nginx
          sudo systemctl start nginx
          sudo ufw allow 'Nginx Full'
          sudo ufw enable
          sudo systemctl stop apache2
          sudo systemctl disable apache2
          sudo rm -rf /var/www/html/*
          sudo cp /etc/nginx/sites-available/default /etc/nginx/sites-available/backup
          sudo sed -i 's/root \/var\/www\/html;/root \/var\/www\/app;/' /etc/nginx/sites-available/default
          sudo systemctl restart nginx
          sudo chmod -R 755 /var/www/app
          sudo chown -R www-data:www-data /var/www/app
          sudo systemctl restart nginx

          echo "Construyendo aplicaci贸n..."
          hackaton run build

          echo "Probando aplicaci贸n"
          hackaton test

          echo "Desplegando aplicaci贸n en DEV..."
          hackaton deploy --DEV
          hackaton restart app --DEV

          export DB_USER_PROD="admin"
          export DB_PASS_PROD="supersecreto"
          export API_KEY_PROD="123456789"

          echo "Desplegando aplicaci贸n en PROD..."
          hackaton deploy --PROD
          hackaton restart app --PROD

          echo " Despliegue completado en desarrollo y producci贸n"
